html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: tomato;
  box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
  width: 100%;
}

.board table {
  width: 100%;
  border: 5px solid white;
}

td {
  height: 100px;
  width: 100px;
  border: 2px solid white;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}
tr {
	display: flex;
}

main {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.boardLeft{
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.boardMiddle {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.boardRight{
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.board {
  height: 510px;
  width: 510px;
  border: 5px solid white;
  border-radius: 5px;
  margin-top: 50px;
	-webkit-filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.5));
	padding: 0;
}

.headerFont {
  font-family: 'Barrio',cursive;
  font-size: 70pt;
  color: white;
}

.secondaryHeader {
  font-family: 'Barrio',cursive;
  font-size: 35pt;
  color: white;
  text-align: center;
  margin-top: 19px;
}

.scoreBox {
  width: 260px;
  height: 80px;
  border: 10px solid white;
  border-radius: 5px;
	-webkit-filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.5));
	padding: 0;
	font-family: 'Barrio',cursive;
  font-size: 35pt;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.highScoreBox {
  width: 260px;
  height: 530px;
  border: 5px solid white;
  border-radius: 5px;
  margin-top: 34px;
	-webkit-filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.5));
	padding: 0;
}

.highScoreBox table {
	width: 100%;
  border: 5px solid white;
}

.highScoreBox td {
  height: 47.5px;
  width: 125px;
  border: 2px solid white;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	font-family: 'Barrio',cursive;
	font-size: 18pt;
}

.choiceBox {
	width: 260px;
	height: 250px;
	border: 10px solid white;
	border-radius: 5px;
	-webkit-filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.5));
	padding: 0;
	font-family: 'Barrio',cursive;
	display: block;
	color: lightgrey;
	text-align: center;
	font-size: 22px;
}

.choiceBox p {
	margin-top: 15px;
}

.choiceBox p:hover {
	color: white;
}

.rulesButton {
  width: 260px;
  height: 80px;
  border: 5px solid white;
  border-radius: 5px;
  color: tomato;
  background-color: white;
  font-family: 'Barrio', cursive;
  font-size: 35pt;
	-webkit-filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.5));
	padding: 0;
}

.rulesWindow {
	height: 640px;
	width: 800px;
	margin: auto;
	border: 10px solid white;
  border-radius: 5px;
  color: white;
	font-family: 'Barrio',cursive;
  font-size: 20pt;
	background-color: tomato;
	-webkit-filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.5));
	padding: 0;
	position: absolute;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rulesWindow header {
	font-size: 35pt;
	margin-bottom: 25px;
	font-weight: bold;
}

.rulesWindow p {
	font-size: 28pt;
	margin-bottom: 10px;
	margin-left: 10px;
}

.rulesWindow li {
	margin-left: 20px;
	margin-top: 20px;
}

.hideButton {
	width: 180px;
  height: 60px;
  border: 5px solid white;
  border-radius: 5px;
  color: tomato;
  background-color: white;
  font-family: 'Barrio', cursive;
  font-size: 15pt;
	-webkit-filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.5));
	padding: 0;
	margin-top: 15px;
}

.upiece {
  height: 60px;
  width: 60px;
  margin: auto;
  border: none;
  background-color: darkblue;
  border-radius: 30px;
   -webkit-filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.5));
}

@keyframes example {
    from {background-color: tomato;}
    to {background-color: #FFC4BA;}
}

td:hover {
  /*background-color: darkblue;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin-top: 15px;*/
  animation-name: example;
  animation-duration: .4s;
  animation-fill-mode: forwards;
}

.ypiece {
  height: 60px;
  width: 60px;
  margin: auto;
  border: none;
  background-color: gold;
  border-radius: 30px;
   -webkit-filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.5));
	 padding: 0;
}

.uwallBot {
	border-bottom: 5px solid darkblue;
}

.uwallRyt {
	border-right: 5px solid darkblue;
}

.uwallTop {
	border-top: 5px solid darkblue;
}

.uwallLft {
	border-left: 5px solid darkblue;
}

.botwallchange {
	border-bottom: 5px solid blue;
}

.rytwallchange {
	border-right: 5px solid blue;
}

.upiecechange {
	background-color: blue;
}

.ywallBot {
	border-bottom: 5px solid gold;
}

.ywallRyt {
	border-right: 5px solid gold;
}

.ywallTop {
	border-top: 5px solid gold;
}

.ywallLft {
	border-left: 5px solid gold;
}

.highlightCellPiece {
	background-color: #FFA393;
}

.highlightCellJump {
	background-color: #FFA393;
}

.degeneratePiece {
	background-color: tomato;
}

@keyframes indicateL {
	0% {right: 68px;}
	50% {right: 60px;}
	100% {right: 68px;}
}

@keyframes indicateR {
	0% {left: 70px;}
	50% {left: 62px;}
	100% {left: 70px;}
}

@keyframes indicateU {
	0% {bottom: 68px;}
	50% {bottom: 60px;}
	100% {bottom: 68px;}
}

@keyframes indicateD {
	0% {top: 71px;}
	50% {top: 63px;}
	100% {top: 71px;}
}

.indicateLeft {
	height: 25px;
	width: 25px;
	position: absolute;
	z-index: 100;
	background-image: url(../images/left.png);
	background-repeat: no-repeat;
	background-size: 100%;
	animation: indicateL;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.indicateRight {
	height: 25px;
	width: 25px;
	position: absolute;
	z-index: 100;
	background-image: url(../images/right.png);
	background-repeat: no-repeat;
	background-size: 100%;
	animation: indicateR;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.indicateUp {
	height: 25px;
	width: 25px;
	position: absolute;
	z-index: 100;
	background-image: url(../images/up.png);
	background-repeat: no-repeat;
	background-size: 100%;
	animation: indicateU;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.indicateDown {
	height: 25px;
	width: 25px;
	position: absolute;
	z-index: 100;
	background-image: url(../images/down.png);
	background-repeat: no-repeat;
	background-size: 100%;
	animation: indicateD;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.winnersWindow {
	height: 320px;
	width: 700px;
	margin: auto;
	border: 10px solid white;
	border-radius: 5px;
	color: white;
	font-family: 'Barrio',cursive;
	font-size: 20pt;
	background-color: lightgray;
	-webkit-filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.5));
	padding: 0;
	position: absolute;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.winnersWindow input {
	height: 60px;
	width: 280px;
	margin: auto;
	border: 5px solid white;
	border-radius: 5px;
	color: white;
	font-family: 'Barrio',cursive;
	font-size: 30pt;
	background-color: tomato;
	text-align: center;
}

.winnersWindow header {
	margin-top: 20px;
	font-family: 'Barrio',cursive;
	font-size: 40pt;
	background-color: lightgray;
}

.winnerButton {
	width: 140px;
  height: 40px;
  border: 5px solid white;
  border-radius: 5px;
  color: tomato;
  background-color: white;
  font-family: 'Barrio', cursive;
  font-size: 14pt;
	-webkit-filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.5));
	padding: 0;
	margin-bottom: 25px;
}

.warning {
	font-family: 'Barrio', cursive;
	background-color: tomato;
	text-align: center;
	font-size: 16pt;
	margin-top: 10px;
}
/*.help {
  border: 3px solid blue;
}*/
